<div class="card shadow-sm">
  <img src='{{livro.image}}' alt="" class="bd-placeholder-img card-img-top" width="100%">

  <div class="card-body">
    <p class="card-text">{{livro.title}}</p>
    <p class="card-text" style="max-height: 100px; overflow-y: scroll; overflow-x: hidden;">{{livro.description}}</p>
    <p class="card-text">{{livro.rating.rate}}</p>
    <p class="card-text">{{livro.price | currency:'BRL' }}</p>

    <div class="btn-group">
      <button class="btn btn-sm btn-primary">Comprar</button>
      <button class="btn btn-sm btn-outline-primary">Detalhes</button>
    </div>
  </div>
</div>
